<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="user-account-nav user-account-sidebar">
        <div class="user-nav-list">
            <ul>
                <li class="active"><a href="{% url 'myAccount' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
                <li><a href="buyer-bookings.html" class="btn-edit-profile"><i class="icon-file-text2"></i>My Bookings</a></li>
              
                <li><a href="{% url 'orders' %}" class="btn-edit-profile"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
              
            
                <li><a href="{% url 'profile' %}"><i class="icon-build"></i>Account Settings</a></li>
               
                <li><a href="{% url 'logout' %}"><i class="icon-log-out"></i>Sign out</a></li>
            </ul>
        </div>
    </div>
</div>